header {
  width: 100%; 
  height: 400px;
  background-color: #ffa07a; /* Header-specific background color */
  background-image: url('../images/back-pattern.png'); /* Header-specific background image */
  
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .avatar { /* Scoped exclusively to the header */
  width: 175px; 
  height: 175px;
  border-radius: 50%; 
  display: block; 
  margin-bottom: 10px; 
}

.name {
  text-align: center;
  font-size: 1.5rem;
}
