header {
  width: 100%; /* Full width by default */
  background-color: #ffa07a;
  background-image: url('../images/back-pattern.png');
  margin: 0;
  padding: 0;
  align-self: flex-start;
  height: auto;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

header .avatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
}

.name {
  text-align: center;
  font-size: 1.5rem;
}

/* Adjustments for one-column layout */
@media screen and (max-width: 1024px) {
  header {
    height: auto;
    padding: 5px;
  }

  .profile {
    padding-top: 0;
  }
}



